.weather{
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #2f4680, #500ae4);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 15px 15px 35px rgba(11, 11, 11, 0.758);
    ;
}

.search-bar{
    display: flex;
    align-items: center;
    gap: 12px;
}

.search-bar input{
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    color: #626262;
    background: #ebfffc;
    font-size: 18px;
}

.search-bar img{
    width: 50px;
    padding: 15px;
    border-radius: 50%;
    background: #ebfffc;
    cursor: pointer;
}

.weather-icon{
    width: 150px;
    margin: 30px 0;
}

.temperature{
    color: #fff;
    font-size: 80px;
    line-height: 1;
    text-shadow: 5px 8px 15px rgba(11, 11, 11, 0.758);
}

.location{
    color: #fff;
    font-size: 30px;
    text-shadow: 5px 8px 15px rgba(11, 11, 11, 0.758);

}

.weather-data{
    width: 100%;
    margin-top: 40px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.weather-data .col{
   display: flex;
   align-items: flex-start;
   gap: 12px;
   font-size: 20px;
}

.weather-data .col span{
    display: block;
    font-size: 15px;
}

.weather-data .col img{
    width: 25px;
    margin-top: 10px;
}

@media only screen and (max-width:600px){
    .app{
      background: rgb(42,82,214);
      background: radial-gradient(circle, rgba(42,82,214,1) 0%, rgba(39,127,181,0.6111694677871149) 100%);
    }

    .weather{
    place-self: center;
    padding: 10px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #2f4680, #500ae4);
    display: flex;
    flex-direction: column;
    align-items: center;
    }
  }
